@page "/"
@using System.Text.Json;
@using OWLServer.Services
@inject GameStateService GameStateService
@inject ExternalTriggerService ExternalTriggerService



<PageTitle>Home</PageTitle>

<MatchScoreBar TeamOnSide="@TeamOnSide"/>

<br/>

<RadzenCard Variant="Variant.Outlined" Style="background-color: yellow">
    <p>GameMode: @GameStateService.CurrentGame?.ToString()</p>
    <p>IsRunning: @GameStateService.CurrentGame?.IsRunning</p>
    <p>Timer: @GameStateService.CurrentGame?.GetTimer?.ToString(@"mm\:ss")</p>
    <p>Voraussichtlicher Sieger: @GameStateService.CurrentGame?.GetWinner</p>
</RadzenCard>
<br/>



<RadzenCard Variant="Variant.Outlined" Style="background-color: yellow">
    <RadzenStack>
        <p>Alle Tower:</p> 
        @foreach (var tower in GameStateService.TowerManagerService.Towers.Values)
        {
            <p>@JsonSerializer.Serialize(tower)</p> 
        }
    </RadzenStack>
</RadzenCard>

@code{
    [Parameter] public TeamColor TeamOnSide { get; set; } = TeamColor.NONE;
    
    protected override void OnInitialized()
    {
        ExternalTriggerService.StateHasChangedAction += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }
}