@page "/"
@using System.Text.Json;
@using OWLServer.Services
@inject GameStateService GSS
@inject ExternalTriggerService ExternalTriggerService



<PageTitle>Home</PageTitle>

Time:
@(new TimeSpan(0))

<br />
<br />
<RadzenCard Variant="Variant.Outlined">
    <RadzenStack>
        <p>Team Rot: <br/>
            @JsonSerializer.Serialize(GSS.Teams[TeamColor.RED])</p>

        @JsonSerializer.Serialize(((GameModeTeamDeathmatch)GSS.CurrentGame)?.TeamDeaths[TeamColor.RED])
    </RadzenStack>
</RadzenCard>
<RadzenCard Variant="Variant.Outlined">
    <RadzenStack>
        <p>Team Rot: <br/>
            @JsonSerializer.Serialize(GSS.Teams[TeamColor.GREEN])</p>

        @JsonSerializer.Serialize(((GameModeTeamDeathmatch)GSS.CurrentGame)?.TeamDeaths[TeamColor.GREEN])
    </RadzenStack>
</RadzenCard>

@code{
    protected override void OnInitialized()
    {
        ExternalTriggerService.StateHasChangedAction += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }
}