<style>
    .flip{
        transform: scaleX(-1);
    }

    .matchScoreProgressBar{
        width: 45%;
        height: 10px;
        clip-path: polygon(0% 0%, 99% 0%, 100% 50%, 99% 100%, 0% 105%);
        background-color: black;
    }
    
    .currentteam{
        text-align: center;
        color: white;
    }
    
    .morePoints{
        margin-left: 5px;
        margin-right: 5px;
    }

    .myprogress {
        width: 0%;
        height: 100%;
        clip-path: polygon(0% 0%, 99% 0%, 100% 50%, 99% 100%, 0% 105%);
    }


    .red {
        background-color: @_gameStateService.Teams[TeamColor.RED].ColorCssImportant;
    }
    
    .blue {
        background-color: @_gameStateService.Teams[TeamColor.BLUE].ColorCssImportant;
    }
   
     .timer{
         width: 60px;
         height: 30px;
         color: white;

         text-align: center;
         align-content: center;
         font-weight: bold;
         font-size: 20px;
     }

     .bar{
        height: 40px;
        color: white;
    }

    .matchbar-background{
        position: absolute;
        width: 100%;
        height: 90px;
        top: 0;
        z-index: -1;
        background-color: #092137;
    }

    .topbar {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: .25rem;
     }

    .bottombar {
        width: 40%;
        clip-path: polygon(0% 0%, 100% -5%, 95% 100%, 5% 100%);
        background-color: #092137;
        margin-top: 0px;
    }

    .gamemode{
        font-size: 30px;
        text-align: center;
        align-content: center;
    }
    
    .teampoints{
        font-size: 50px;
    }
    
    .scorerow{
        margin-top: -4px;
    }
</style>

<div class="d-flex flex-column align-content-center justify-content-center center">
    <div class="matchbar-background"/>
    <div class="bar topbar align-self-center d-flex justify-content-between text-center">
        <span class="fw-bold teampoints">
            @_gameStateService.CurrentGame?.GetDisplayPoints(TeamColor.BLUE)
        </span>
        <span class="gamemode ">
            @_gameStateService.CurrentGame?.ToString()
        </span>
        <span class="fw-bold teampoints">
            @_gameStateService.CurrentGame?.GetDisplayPoints(TeamColor.RED)
        </span>
    </div>

    <span class="currentteam ">
        @(TeamOnSide == TeamColor.BLUE ? "blaues Team" : " ")@(TeamOnSide == TeamColor.RED ? "rotes Team" : " ")@(TeamOnSide == TeamColor.NONE ? "---" : "")
    </span>
    
    <div class="scorerow d-flex flex-row align-items-center justify-content-center">

        <div class="matchScoreProgressBar flip">
            <div class="blue myprogress" />
        </div>

        <div class="timer text-center">
            @if(_gameStateService.CurrentGame != null)
            {
                <span>@_gameStateService.CurrentGame?.GetTimer?.ToString(@"mm\:ss")</span>
            }
            else
            {
                <span>PAUSE</span>
            }
        </div>

        <div class="matchScoreProgressBar">
            <div class="red myprogress"/>
        </div>
    </div>

    <div class="bar bottombar align-self-center">
    </div>
</div>

<script>
    function setProgressbar(color, percent){
        var team;
        if(color === 0){
            team = ".red";
        }
        else{
            team = ".blue";
       }
        $(team).animate({width: percent}, "fast");
    };
</script>

@code {

    private string DetermineWinner
    {
        get
        {
            var winner = _gameStateService.CurrentGame?.GetWinner;
            switch (winner)
            {
                case TeamColor.BLUE:
                    return ">";
                case TeamColor.RED:
                    return "<";
                default:
                    return " ";
            }
        }
    }

    private string GetPoints(TeamColor color)
    {
        if (_gameStateService.CurrentGame == null)
            return string.Empty;
        
        return $"{_gameStateService.CurrentGame.GetDisplayPoints(color)}/{_gameStateService.CurrentGame.MaxTickets}";
    }
    
}